<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="avicit.myportal.meeting.meetinguser.dao.MeetingUserDAO">
<resultMap id="MeetingUserDTOMap" type="avicit.myportal.meeting.meetinguser.dto.MeetingUserDTO">
	<result property="id" column="ID" jdbcType="VARCHAR" />
	<result property="meetingId" column="MEETING_ID" jdbcType="VARCHAR" />
	<result property="userId" column="USER_ID" jdbcType="VARCHAR" />
	<result property="attribute01" column="ATTRIBUTE_01" jdbcType="VARCHAR" />
	<result property="attribute02" column="ATTRIBUTE_02" jdbcType="VARCHAR" />
	<result property="attribute03" column="ATTRIBUTE_03" jdbcType="VARCHAR" />
	<result property="attribute04" column="ATTRIBUTE_04" jdbcType="VARCHAR" />
	<result property="attribute05" column="ATTRIBUTE_05" jdbcType="VARCHAR" />
	<result property="attribute06" column="ATTRIBUTE_06" jdbcType="VARCHAR" />
	<result property="attribute07" column="ATTRIBUTE_07" jdbcType="VARCHAR" />
	<result property="attribute08" column="ATTRIBUTE_08" jdbcType="VARCHAR" />
	<result property="attribute09" column="ATTRIBUTE_09" jdbcType="TIMESTAMP" />
	<result property="attribute10" column="ATTRIBUTE_10" jdbcType="TIMESTAMP" />
	<result property="secretLevel" column="SECRET_LEVEL" jdbcType="VARCHAR" />
	<result property="orgIdentity" column="ORG_IDENTITY" jdbcType="VARCHAR" />
	<result property="createdBy" column="CREATED_BY" jdbcType="VARCHAR" />
	<result property="createdDept" column="CREATED_DEPT" jdbcType="VARCHAR" />
	<result property="creationDate" column="CREATION_DATE" jdbcType="TIMESTAMP" />
	<result property="lastUpdatedBy" column="LAST_UPDATED_BY" jdbcType="VARCHAR" />
	<result property="lastUpdateDate" column="LAST_UPDATE_DATE" jdbcType="TIMESTAMP" />
	<result property="lastUpdateIp" column="LAST_UPDATE_IP" jdbcType="VARCHAR" />
	<result property="version" column="VERSION" jdbcType="DECIMAL" />
</resultMap>
<sql id="commonColums">
	<trim suffixOverrides=",">
		t1.ID,
		t1.MEETING_ID,
		t1.USER_ID,
		t1.ATTRIBUTE_01,
		t1.ATTRIBUTE_02,
		t1.ATTRIBUTE_03,
		t1.ATTRIBUTE_04,
		t1.ATTRIBUTE_05,
		t1.ATTRIBUTE_06,
		t1.ATTRIBUTE_07,
		t1.ATTRIBUTE_08,
		t1.ATTRIBUTE_09,
		t1.ATTRIBUTE_10,
		t1.SECRET_LEVEL,
		t1.ORG_IDENTITY,
		t1.CREATED_BY,
		t1.CREATED_DEPT,
		t1.CREATION_DATE,
		t1.LAST_UPDATED_BY,
		t1.LAST_UPDATE_DATE,
		t1.LAST_UPDATE_IP,
		t1.VERSION,
	</trim>
</sql>
<!-- 默认查询条件 -->
<sql id="defaultWhereAnd">
	<if test="wordSecret != null and wordSecret.size()>0">
		and t1.secret_level in
		<foreach collection="wordSecret" item="item" index="key" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</if>
</sql>
<sql id="commonWhereAnd">
	<if test="bean.id != null and bean.id != ''">
		and t1.ID = #{bean.id}
	</if>
	<if test="bean.meetingId != null and bean.meetingId != ''">
		and t1.MEETING_ID = #{bean.meetingId}
	</if>
	<if test="bean.userId != null and bean.userId != ''">
		and t1.USER_ID like concat(concat('%',#{bean.userId}),'%')
	</if>
	<if test="bean.attribute01 != null and bean.attribute01 != ''">
		and t1.ATTRIBUTE_01 like concat(concat('%',#{bean.attribute01}),'%')
	</if>
	<if test="bean.attribute02 != null and bean.attribute02 != ''">
		and t1.ATTRIBUTE_02 like concat(concat('%',#{bean.attribute02}),'%')
	</if>
	<if test="bean.attribute03 != null and bean.attribute03 != ''">
		and t1.ATTRIBUTE_03 like concat(concat('%',#{bean.attribute03}),'%')
	</if>
	<if test="bean.attribute04 != null and bean.attribute04 != ''">
		and t1.ATTRIBUTE_04 like concat(concat('%',#{bean.attribute04}),'%')
	</if>
	<if test="bean.attribute05 != null and bean.attribute05 != ''">
		and t1.ATTRIBUTE_05 like concat(concat('%',#{bean.attribute05}),'%')
	</if>
	<if test="bean.attribute06 != null and bean.attribute06 != ''">
		and t1.ATTRIBUTE_06 like concat(concat('%',#{bean.attribute06}),'%')
	</if>
	<if test="bean.attribute07 != null and bean.attribute07 != ''">
		and t1.ATTRIBUTE_07 like concat(concat('%',#{bean.attribute07}),'%')
	</if>
	<if test="bean.attribute08 != null and bean.attribute08 != ''">
		and t1.ATTRIBUTE_08 like concat(concat('%',#{bean.attribute08}),'%')
	</if>
	<if test="bean.attribute09Begin != null">
		and t1.ATTRIBUTE_09 &gt;= #{bean.attribute09Begin}
	</if>
	<if test="bean.attribute09End != null">
		and t1.ATTRIBUTE_09 &lt;= #{bean.attribute09End}
	</if>
	<if test="bean.attribute10Begin != null">
		and t1.ATTRIBUTE_10 &gt;= #{bean.attribute10Begin}
	</if>
	<if test="bean.attribute10End != null">
		and t1.ATTRIBUTE_10 &lt;= #{bean.attribute10End}
	</if>
	<if test="bean.createdBy != null and bean.createdBy != ''">
		and t1.CREATED_BY = #{bean.createdBy}
	</if>
	<if test="bean.createdDept != null and bean.createdDept != ''">
		and t1.CREATED_DEPT = #{bean.createdDept}
	</if>
	<if test="bean.creationDateBegin != null">
		and t1.CREATION_DATE &gt;= #{bean.creationDateBegin}
	</if>
	<if test="bean.creationDateEnd != null">
		and t1.CREATION_DATE &lt;= #{bean.creationDateEnd}
	</if>
	<if test="bean.lastUpdatedBy != null and bean.lastUpdatedBy != ''">
		and t1.LAST_UPDATED_BY = #{bean.lastUpdatedBy}
	</if>
	<if test="bean.lastUpdateDateBegin != null">
		and t1.LAST_UPDATE_DATE &gt;= #{bean.lastUpdateDateBegin}
	</if>
	<if test="bean.lastUpdateDateEnd != null">
		and t1.LAST_UPDATE_DATE &lt;= #{bean.lastUpdateDateEnd}
	</if>
	<if test="bean.lastUpdateIp != null and bean.lastUpdateIp != ''">
		and t1.LAST_UPDATE_IP = #{bean.lastUpdateIp}
	</if>
	<if test="bean.version != null">
		and t1.VERSION = #{bean.version}
	</if>
</sql>
<sql id="commonWhereOr">
	<trim prefix="(" suffix=")" prefixOverrides="or">
		<if test="bean.id != null and bean.id != ''">
			or t1.ID = #{bean.id}
		</if>
		<if test="bean.userId != null and bean.userId != ''">
			or t1.USER_ID like concat(concat('%',#{bean.userId}),'%')
		</if>
		<if test="bean.attribute01 != null and bean.attribute01 != ''">
			or t1.ATTRIBUTE_01 like concat(concat('%',#{bean.attribute01}),'%')
		</if>
		<if test="bean.attribute02 != null and bean.attribute02 != ''">
			or t1.ATTRIBUTE_02 like concat(concat('%',#{bean.attribute02}),'%')
		</if>
		<if test="bean.attribute03 != null and bean.attribute03 != ''">
			or t1.ATTRIBUTE_03 like concat(concat('%',#{bean.attribute03}),'%')
		</if>
		<if test="bean.attribute04 != null and bean.attribute04 != ''">
			or t1.ATTRIBUTE_04 like concat(concat('%',#{bean.attribute04}),'%')
		</if>
		<if test="bean.attribute05 != null and bean.attribute05 != ''">
			or t1.ATTRIBUTE_05 like concat(concat('%',#{bean.attribute05}),'%')
		</if>
		<if test="bean.attribute06 != null and bean.attribute06 != ''">
			or t1.ATTRIBUTE_06 like concat(concat('%',#{bean.attribute06}),'%')
		</if>
		<if test="bean.attribute07 != null and bean.attribute07 != ''">
			or t1.ATTRIBUTE_07 like concat(concat('%',#{bean.attribute07}),'%')
		</if>
		<if test="bean.attribute08 != null and bean.attribute08 != ''">
			or t1.ATTRIBUTE_08 like concat(concat('%',#{bean.attribute08}),'%')
		</if>
		<if test="bean.attribute09Begin != null">
			or t1.ATTRIBUTE_09 &gt;= #{bean.attribute09Begin}
		</if>
		<if test="bean.attribute09End != null">
			or t1.ATTRIBUTE_09 &lt;= #{bean.attribute09End}
		</if>
		<if test="bean.attribute10Begin != null">
			or t1.ATTRIBUTE_10 &gt;= #{bean.attribute10Begin}
		</if>
		<if test="bean.attribute10End != null">
			or t1.ATTRIBUTE_10 &lt;= #{bean.attribute10End}
		</if>
		<if test="bean.secretLevel != null and bean.secretLevel != ''">
			or t1.SECRET_LEVEL = #{bean.secretLevel}
		</if>
		<if test="bean.createdBy != null and bean.createdBy != ''">
			or t1.CREATED_BY = #{bean.createdBy}
		</if>
		<if test="bean.createdDept != null and bean.createdDept != ''">
			or t1.CREATED_DEPT = #{bean.createdDept}
		</if>
		<if test="bean.creationDateBegin != null">
			or t1.CREATION_DATE &gt;= #{bean.creationDateBegin}
		</if>
		<if test="bean.creationDateEnd != null">
			or t1.CREATION_DATE &lt;= #{bean.creationDateEnd}
		</if>
		<if test="bean.lastUpdatedBy != null and bean.lastUpdatedBy != ''">
			or t1.LAST_UPDATED_BY = #{bean.lastUpdatedBy}
		</if>
		<if test="bean.lastUpdateDateBegin != null">
			or t1.LAST_UPDATE_DATE &gt;= #{bean.lastUpdateDateBegin}
		</if>
		<if test="bean.lastUpdateDateEnd != null">
			or t1.LAST_UPDATE_DATE &lt;= #{bean.lastUpdateDateEnd}
		</if>
		<if test="bean.lastUpdateIp != null and bean.lastUpdateIp != ''">
			or t1.LAST_UPDATE_IP = #{bean.lastUpdateIp}
		</if>
		<if test="bean.version != null">
			or t1.VERSION = #{bean.version}
		</if>
	</trim>
</sql>
<sql id="commonOrderBy">
	<choose>
		<when test="orderBy != null and orderBy != ''">
			order by ${orderBy}
		</when>
		<otherwise>
			order by t1.creation_date desc
		</otherwise>
	</choose>
</sql>

<!-- 分页查询 MEETING_USER -->
<select id="searchMeetingUserByPage" parameterType="java.util.Map" resultMap="MeetingUserDTOMap">
	select
	<include refid="commonColums"/>
	<choose>
		<when test="keyWords != null and keyWords != '' ">
			from (select * from MEETING_USER t where t.MEETING_ID=#{bean.meetingId}) t1
		</when>
		<otherwise>
			from MEETING_USER t1
		</otherwise>
	</choose>
	<where>
		<if test="bean != null">
			<choose>
				<when test="keyWords != null and keyWords != '' ">
					<include refid="commonWhereOr"/>
				</when>
				<otherwise>
				    <include refid="commonWhereAnd"/>
				</otherwise>
			</choose>
		</if>
		<include refid="defaultWhereAnd"/>
	</where>
	<include refid="commonOrderBy"></include>
</select>
<!-- 查询列表 MEETING_USER -->
<select id="searchMeetingUser" parameterType="java.util.Map" resultMap="MeetingUserDTOMap">
	select
	<include refid="commonColums"/>
	<choose>
		<when test="keyWords != null and keyWords != '' ">
			from (select * from MEETING_USER t where t.MEETING_ID=#{bean.meetingId}) t1
		</when>
		<otherwise>
			from MEETING_USER t1
		</otherwise>
	</choose>
	<where>
		<if test="bean != null">
			<include refid="commonWhereAnd"/>
		</if>
		<include refid="defaultWhereAnd"/>
	</where>
	<include refid="commonOrderBy"></include>
</select>
<!-- 按条件导出查询列表 MEETING_USER -->
<select id="searchMeetingUserForExportExcel" parameterType="java.util.Map" resultMap="MeetingUserDTOMap">
	select
	<include refid="commonColums"/>
	<choose>
		<when test="keyWords != null and keyWords != '' ">
			from (select * from MEETING_USER t where t.MEETING_ID=#{bean.meetingId}) t1
		</when>
		<otherwise>
			from MEETING_USER t1
		</otherwise>
	</choose>
	<where>
		<if test="bean != null">
			<choose>
				<when test="keyWords != null and keyWords != ''">
					<include refid="commonWhereOr"/>
				</when>
				<otherwise>
					<include refid="commonWhereAnd"/>
				</otherwise>
			</choose>
		</if>
		<include refid="defaultWhereAnd"/>
	</where>
	<include refid="commonOrderBy"/>
</select>
<!-- 主键查询对象 MEETING_USER -->
<select id="findMeetingUserById" parameterType="java.util.Map" resultMap="MeetingUserDTOMap">
	select
	<include refid="commonColums"/>
	from MEETING_USER t1
	where t1.id = #{id}
</select>
<!-- 根据pid查询对象 MEETING_USER -->
<select id="findMeetingUserByPid" parameterType="java.util.Map" resultMap="MeetingUserDTOMap">
	select
	<include refid="commonColums"></include>
	from MEETING_USER 	t1
	where t1.MEETING_ID = #{pid}
</select>
<!-- 新增对象 MEETING_USER -->
<insert id="insertMeetingUser" parameterType="avicit.myportal.meeting.meetinguser.dto.MeetingUserDTO">
	insert into MEETING_USER
	<trim prefix="(" suffix=")" suffixOverrides=",">
		<if test="id != null">
			ID,
		</if>
		<if test="meetingId != null">
			MEETING_ID,
		</if>
		<if test="userId != null">
			USER_ID,
		</if>
		<if test="attribute01 != null">
			ATTRIBUTE_01,
		</if>
		<if test="attribute02 != null">
			ATTRIBUTE_02,
		</if>
		<if test="attribute03 != null">
			ATTRIBUTE_03,
		</if>
		<if test="attribute04 != null">
			ATTRIBUTE_04,
		</if>
		<if test="attribute05 != null">
			ATTRIBUTE_05,
		</if>
		<if test="attribute06 != null">
			ATTRIBUTE_06,
		</if>
		<if test="attribute07 != null">
			ATTRIBUTE_07,
		</if>
		<if test="attribute08 != null">
			ATTRIBUTE_08,
		</if>
		<if test="attribute09 != null">
			ATTRIBUTE_09,
		</if>
		<if test="attribute10 != null">
			ATTRIBUTE_10,
		</if>
		<if test="secretLevel != null">
			SECRET_LEVEL,
		</if>
		<if test="orgIdentity != null">
			ORG_IDENTITY,
		</if>
		<if test="createdBy != null">
			CREATED_BY,
		</if>
		<if test="createdDept != null">
			CREATED_DEPT,
		</if>
		<if test="creationDate != null">
			CREATION_DATE,
		</if>
		<if test="lastUpdatedBy != null">
			LAST_UPDATED_BY,
		</if>
		<if test="lastUpdateDate != null">
			LAST_UPDATE_DATE,
		</if>
		<if test="lastUpdateIp != null">
			LAST_UPDATE_IP,
		</if>
		<if test="version != null">
			VERSION,
		</if>
	</trim>
	<trim prefix="values (" suffix=")" suffixOverrides=",">
		<if test="id != null">
			#{id,jdbcType = VARCHAR},
		</if>
		<if test="meetingId != null">
			#{meetingId,jdbcType = VARCHAR},
		</if>
		<if test="userId != null">
			#{userId,jdbcType = VARCHAR},
		</if>
		<if test="attribute01 != null">
			#{attribute01,jdbcType = VARCHAR},
		</if>
		<if test="attribute02 != null">
			#{attribute02,jdbcType = VARCHAR},
		</if>
		<if test="attribute03 != null">
			#{attribute03,jdbcType = VARCHAR},
		</if>
		<if test="attribute04 != null">
			#{attribute04,jdbcType = VARCHAR},
		</if>
		<if test="attribute05 != null">
			#{attribute05,jdbcType = VARCHAR},
		</if>
		<if test="attribute06 != null">
			#{attribute06,jdbcType = VARCHAR},
		</if>
		<if test="attribute07 != null">
			#{attribute07,jdbcType = VARCHAR},
		</if>
		<if test="attribute08 != null">
			#{attribute08,jdbcType = VARCHAR},
		</if>
		<if test="attribute09 != null">
			#{attribute09,jdbcType = TIMESTAMP},
		</if>
		<if test="attribute10 != null">
			#{attribute10,jdbcType = TIMESTAMP},
		</if>
		<if test="secretLevel != null">
			#{secretLevel,jdbcType = VARCHAR},
		</if>
		<if test="orgIdentity != null">
			#{orgIdentity,jdbcType = VARCHAR},
		</if>
		<if test="createdBy != null">
			#{createdBy,jdbcType = VARCHAR},
		</if>
		<if test="createdDept != null">
			#{createdDept,jdbcType = VARCHAR},
		</if>
		<if test="creationDate != null">
			#{creationDate,jdbcType = TIMESTAMP},
		</if>
		<if test="lastUpdatedBy != null">
			#{lastUpdatedBy,jdbcType = VARCHAR},
		</if>
		<if test="lastUpdateDate != null">
			#{lastUpdateDate,jdbcType = TIMESTAMP},
		</if>
		<if test="lastUpdateIp != null">
			#{lastUpdateIp,jdbcType = VARCHAR},
		</if>
		<if test="version != null">
			#{version,jdbcType = DECIMAL},
		</if>
	</trim>
</insert>
<!-- 批量新增对象 MEETING_USER -->
<insert id="insertMeetingUserList" parameterType="java.util.List" >
	insert into MEETING_USER(
		ID ,
		MEETING_ID ,
		USER_ID ,
		ATTRIBUTE_01 ,
		ATTRIBUTE_02 ,
		ATTRIBUTE_03 ,
		ATTRIBUTE_04 ,
		ATTRIBUTE_05 ,
		ATTRIBUTE_06 ,
		ATTRIBUTE_07 ,
		ATTRIBUTE_08 ,
		ATTRIBUTE_09 ,
		ATTRIBUTE_10 ,
		SECRET_LEVEL ,
		ORG_IDENTITY ,
		CREATED_BY ,
		CREATED_DEPT ,
		CREATION_DATE ,
		LAST_UPDATED_BY ,
		LAST_UPDATE_DATE ,
		LAST_UPDATE_IP ,
		VERSION 
	)
	<foreach collection="dtoList" item="item" index="index"  separator="union all" >
		select
			#{item.id,jdbcType = VARCHAR} ,
			#{item.meetingId,jdbcType = VARCHAR} ,
			#{item.userId,jdbcType = VARCHAR} ,
			#{item.attribute01,jdbcType = VARCHAR} ,
			#{item.attribute02,jdbcType = VARCHAR} ,
			#{item.attribute03,jdbcType = VARCHAR} ,
			#{item.attribute04,jdbcType = VARCHAR} ,
			#{item.attribute05,jdbcType = VARCHAR} ,
			#{item.attribute06,jdbcType = VARCHAR} ,
			#{item.attribute07,jdbcType = VARCHAR} ,
			#{item.attribute08,jdbcType = VARCHAR} ,
			#{item.attribute09,jdbcType = TIMESTAMP} ,
			#{item.attribute10,jdbcType = TIMESTAMP} ,
			#{item.secretLevel,jdbcType = VARCHAR} ,
			#{item.orgIdentity,jdbcType = VARCHAR} ,
			#{item.createdBy,jdbcType = VARCHAR} ,
			#{item.createdDept,jdbcType = VARCHAR} ,
			#{item.creationDate,jdbcType = TIMESTAMP} ,
			#{item.lastUpdatedBy,jdbcType = VARCHAR} ,
			#{item.lastUpdateDate,jdbcType = TIMESTAMP} ,
			#{item.lastUpdateIp,jdbcType = VARCHAR} ,
			#{item.version,jdbcType = DECIMAL} 
		from dual
	</foreach>
</insert>
<!-- 更新对象 MEETING_USER -->
<update id="updateMeetingUserSensitive" parameterType="avicit.myportal.meeting.meetinguser.dto.MeetingUserDTO">
	update MEETING_USER
	<set>
		<if test="id != null">
			ID = #{id,jdbcType = VARCHAR} ,
		</if>
		<if test="meetingId != null">
			MEETING_ID = #{meetingId,jdbcType = VARCHAR} ,
		</if>
		<if test="userId != null">
			USER_ID = #{userId,jdbcType = VARCHAR} ,
		</if>
		<if test="attribute01 != null">
			ATTRIBUTE_01 = #{attribute01,jdbcType = VARCHAR} ,
		</if>
		<if test="attribute02 != null">
			ATTRIBUTE_02 = #{attribute02,jdbcType = VARCHAR} ,
		</if>
		<if test="attribute03 != null">
			ATTRIBUTE_03 = #{attribute03,jdbcType = VARCHAR} ,
		</if>
		<if test="attribute04 != null">
			ATTRIBUTE_04 = #{attribute04,jdbcType = VARCHAR} ,
		</if>
		<if test="attribute05 != null">
			ATTRIBUTE_05 = #{attribute05,jdbcType = VARCHAR} ,
		</if>
		<if test="attribute06 != null">
			ATTRIBUTE_06 = #{attribute06,jdbcType = VARCHAR} ,
		</if>
		<if test="attribute07 != null">
			ATTRIBUTE_07 = #{attribute07,jdbcType = VARCHAR} ,
		</if>
		<if test="attribute08 != null">
			ATTRIBUTE_08 = #{attribute08,jdbcType = VARCHAR} ,
		</if>
		<if test="attribute09 != null">
			ATTRIBUTE_09 = #{attribute09,jdbcType = TIMESTAMP} ,
		</if>
		<if test="attribute10 != null">
			ATTRIBUTE_10 = #{attribute10,jdbcType = TIMESTAMP} ,
		</if>
		<if test="secretLevel != null">
			SECRET_LEVEL = #{secretLevel,jdbcType = VARCHAR} ,
		</if>
		<if test="orgIdentity != null">
			ORG_IDENTITY = #{orgIdentity,jdbcType = VARCHAR} ,
		</if>
		<if test="createdBy != null">
			CREATED_BY = #{createdBy,jdbcType = VARCHAR} ,
		</if>
		<if test="createdDept != null">
			CREATED_DEPT = #{createdDept,jdbcType = VARCHAR} ,
		</if>
		<if test="creationDate != null">
			CREATION_DATE = #{creationDate,jdbcType = TIMESTAMP} ,
		</if>
		<if test="lastUpdatedBy != null">
			LAST_UPDATED_BY = #{lastUpdatedBy,jdbcType = VARCHAR} ,
		</if>
		<if test="lastUpdateDate != null">
			LAST_UPDATE_DATE = #{lastUpdateDate,jdbcType = TIMESTAMP} ,
		</if>
		<if test="lastUpdateIp != null">
			LAST_UPDATE_IP = #{lastUpdateIp,jdbcType = VARCHAR} ,
		</if>
		<if test="version != null">
			VERSION = version+1 
		</if>
	</set>
	where id = #{id} 
	and version = #{version}
</update>
<!-- 更新对象 MEETING_USER -->
<update id="updateMeetingUserAll" parameterType="avicit.myportal.meeting.meetinguser.dto.MeetingUserDTO">
	update MEETING_USER
	<trim prefix="set" suffixOverrides=",">
		ID = #{id,jdbcType = VARCHAR} ,
		USER_ID = #{userId,jdbcType = VARCHAR} ,
		ATTRIBUTE_01 = #{attribute01,jdbcType = VARCHAR} ,
		ATTRIBUTE_02 = #{attribute02,jdbcType = VARCHAR} ,
		ATTRIBUTE_03 = #{attribute03,jdbcType = VARCHAR} ,
		ATTRIBUTE_04 = #{attribute04,jdbcType = VARCHAR} ,
		ATTRIBUTE_05 = #{attribute05,jdbcType = VARCHAR} ,
		ATTRIBUTE_06 = #{attribute06,jdbcType = VARCHAR} ,
		ATTRIBUTE_07 = #{attribute07,jdbcType = VARCHAR} ,
		ATTRIBUTE_08 = #{attribute08,jdbcType = VARCHAR} ,
		ATTRIBUTE_09 = #{attribute09,jdbcType = TIMESTAMP} ,
		ATTRIBUTE_10 = #{attribute10,jdbcType = TIMESTAMP} ,
		SECRET_LEVEL = #{secretLevel,jdbcType = VARCHAR} ,
		LAST_UPDATED_BY = #{lastUpdatedBy,jdbcType = VARCHAR} ,
		LAST_UPDATE_DATE = #{lastUpdateDate,jdbcType = TIMESTAMP} ,
		LAST_UPDATE_IP = #{lastUpdateIp,jdbcType = VARCHAR} ,
		VERSION = version+1 
	</trim>
	where id = #{id}
	and version = #{version}
</update>
<!-- 批量更新对象   MEETING_USER -->
<update id="updateMeetingUserList" parameterType="java.util.List" >
	<if test="_databaseId != 'mysql' and _databaseId != 'sqlserver'">begin</if>
	<foreach collection="dtoList" item="item" index="index"  separator="" >
		update MEETING_USER
		<set>
			ID = #{item.id,jdbcType = VARCHAR} ,
			MEETING_ID = #{item.meetingId,jdbcType = VARCHAR} ,
			USER_ID = #{item.userId,jdbcType = VARCHAR} ,
			ATTRIBUTE_01 = #{item.attribute01,jdbcType = VARCHAR} ,
			ATTRIBUTE_02 = #{item.attribute02,jdbcType = VARCHAR} ,
			ATTRIBUTE_03 = #{item.attribute03,jdbcType = VARCHAR} ,
			ATTRIBUTE_04 = #{item.attribute04,jdbcType = VARCHAR} ,
			ATTRIBUTE_05 = #{item.attribute05,jdbcType = VARCHAR} ,
			ATTRIBUTE_06 = #{item.attribute06,jdbcType = VARCHAR} ,
			ATTRIBUTE_07 = #{item.attribute07,jdbcType = VARCHAR} ,
			ATTRIBUTE_08 = #{item.attribute08,jdbcType = VARCHAR} ,
			ATTRIBUTE_09 = #{item.attribute09,jdbcType = TIMESTAMP} ,
			ATTRIBUTE_10 = #{item.attribute10,jdbcType = TIMESTAMP} ,
			SECRET_LEVEL = #{item.secretLevel,jdbcType = VARCHAR} ,
			ORG_IDENTITY = #{item.orgIdentity,jdbcType = VARCHAR} ,
			CREATED_BY = #{item.createdBy,jdbcType = VARCHAR} ,
			CREATED_DEPT = #{item.createdDept,jdbcType = VARCHAR} ,
			CREATION_DATE = #{item.creationDate,jdbcType = TIMESTAMP} ,
			LAST_UPDATED_BY = #{item.lastUpdatedBy,jdbcType = VARCHAR} ,
			LAST_UPDATE_DATE = #{item.lastUpdateDate,jdbcType = TIMESTAMP} ,
			LAST_UPDATE_IP = #{item.lastUpdateIp,jdbcType = VARCHAR} ,
			VERSION = version+1  
		</set>
		where id = #{item.id}
		and version = #{item.version};
	</foreach>
	<if test="_databaseId != 'mysql' and _databaseId != 'sqlserver'">end;</if>
</update>
<!-- 主键删除 MEETING_USER -->
<delete id="deleteMeetingUserById" parameterType="java.lang.String">
	delete from MEETING_USER  where id = #{id}
</delete>
</mapper>